$primary: #FC7433;
$secondary: #2f5bd1;
$black: #181528;
$black-2: #262437;
$black-2: #898791;
$white: #fff;
$white-2: #FAFAFA;

$font-primary: "Montserrat", sans-serif;
$font-secondary:"Poppins" , sans-serif;

  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Poppins', sans-serif;