$primary: #fc7433;
$secondary: #2f5bd1;
$black: #000;
$black-2: #181528;
$black-3: #262437;
$black-4: #898791;
$white: #fff;
$white-2: #fafafa;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
