$primary: #fc7433;
$primary-2: #d96733;
$secondary: #2f5bd1;
$black: #000;
$black-1: #171426;
$black-2: #181528;
$black-3: #262437;
$black-4: #898791;
$black-5: #14111c;
$white: #fff;
$white-2: #fafafa;
$white-3: rgba(#fff, 0.1);
$gray: #707070;
$gray-light: #efefef;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
