.swiper {
  &-arrows {
    display: flex;
    gap: 0.75rem;
  }
  &-arrow {
    width: 3.5em;
    height: 3.5em;
    background: $white;
    color: $black;
    transition: 0.2s ease-out;
    font-size: inherit;

    //diplay
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 70%;
      height: auto;
    }
    &:hover {
      background: $primary;
      color: $white;
    }
    &.swiper-button-disabled {
      cursor: default;
      background: $white;
      color: rgba($black, 0.6);
      opacity: 0.4;
    }
  }
}
